<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
  </style>
</head>

<body>
  <div id="app">
    <!-- single checkbox -->
    <input type="checkbox" id="checkbox" v-model="checked">
    <label for="checkbox">{{ checked }}</label>

    <!-- multiple checkbox -->
    <div>Checked names: {{ checkedNames }}</div>

    <input type="checkbox" id="alice" value="Alice" v-model="checkedNames">
    <label for="alice">Alice</label>

    <input type="checkbox" id="bella" value="Bella" v-model="checkedNames">
    <label for="bella">Bella</label>

    <input type="checkbox" id="voo" value="voo" v-model="checkedNames">
    <label for="bella">voo</label>

    <!-- single select -->
    <div>Selected: {{ selected }}</div>

    <select v-model="selected">
      <option disabled value="">Please select one</option>
      <option>Alice</option>
      <option>Bella</option>
      <option>Cathy</option>
    </select>


    <!-- radio -->
     <!-- 동일한 name을 가지고 있어야 여러개중 하나만 선택되게 할 수 있음 -->
        <!-- **<input type="radio">**는 기본적으로 같은 그룹에 속한 버튼 중에서 하나만 선택되도록 설계되어 있어.
        이때 그룹을 구분하는 기준이 바로 name 속성이야.
        
        즉, 같은 name을 가진 라디오 버튼끼리는 **"서로 배타적인 선택 그룹"**을 만들고,
        그 중 하나만 선택될 수 있게 브라우저가 자동으로 처리해 줘. -->
      <p>{{checkedRadio}}</p>
     <label for="alice">alice</label>
     <input type="radio" name="name" id="alice" v-model="checkedRadio" value="alice">

     <label for="bella">bella</label>
     <input type="radio" name="name" id="bella" v-model="checkedRadio" value="bella">

     <label for="voo">voo</label>
     <input type="radio" name="name" id="voo" v-model="checkedRadio" value="voo">

  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp, ref } = Vue

    const app = createApp({
      setup() {
        const checked = ref(false)
        const checkedNames = ref([])
        const selected = ref('')
        const checkedRadio = ref('')

        return {
          checked,
          checkedNames,
          selected,
          checkedRadio
        }
      }
    })

    app.mount('#app')
  </script>
</body>

</html>
